* {
    background-color: lightgrey;
}

.flex {
    display: flex;
    flex-direction: column;
}

#canvasapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
    position: absolute;
    background: transparent;
    margin: 25px 25px 20px 25px;
}

#backgroundCanvas {
    /* object-fit: scale-down; */
    margin: 25px 25px 20px 25px;
}

.upload {
    font-size: 36px;
    margin: 0 25px;
}

.save {
    font-size: 36px;
    margin: 10px 25px 25px 25px;
}